#!/bin/bash

NUM_BACKUPS_TO_KEEP={{ keep_backup }}

BACKUPS=()
for BACKUP in $BACKUP_ROOT/*/0/xtrabackup_info; do
	END_TIME=$(grep end_time $BACKUP | awk -F " = " '{print $2}')
	BACKUPS+=("$(dirname $(dirname $BACKUP))|$END_TIME")
done

IFS=$'\n' BACKUPS=($(sort -rt '|' -k2 <<< ${BACKUPS[*]}))
unset IFS

for ((i = NUM_BACKUPS_TO_KEEP; i < ${{ '{#' }}BACKUPS[@]}; i++)); do
	BACKUP=$(echo ${BACKUPS[$i]} | awk -F "|" '{print $1}')
	rm -r $BACKUP
	echo "DELETED BACKUP: $BACKUP"
done
